@import "tailwindcss";

:root {
    --background: #a1eeb2;
    --foreground: #a1d0ee;
}

@theme inline{
    --color-background: var(--background);
    --color-foreground: var(--foreground);
}

@layer components {
    .btn {
        @apply border border-gray-200 text-white text-sm px-4 py-2 rounded-md shadow-sm inline-flex items-center justify-center text-center w-auto transition-colors duration-300;
    }

    .btn-primary {
        @apply bg-sky-500 hover:bg-sky-600;
    }
    
    .btn-success {
        @apply bg-green-500 hover:bg-green-600;
    }

    .btn-danger {
        @apply bg-red-500 hover:bg-red-600;
    }

    .btn-warning {
        @apply bg-yellow-300 hover:bg-yellow-400 text-black;
    }

    .btn-white {
        @apply bg-white hover:bg-gray-100 text-gray-800;
    }
}

@utility container {
    max-width: 1400px;
}
